body {
  margin:0;
  padding-left: 3rem;
}

.toggle-btn {
  position : fixed;
  z-index:99;
  top:1rem;
  left:1rem;
  width:2rem;
  height: 2rem;
}

.toggle-btn:hover{
  cursor: pointer;
}

.fir-line{
  position: absolute;
  top:0.5rem;
  border:1px solid #000;
  width :1rem;
}

.sec-line {
  position: absolute;
  top:0.5rem;
  border:1px solid #000;
  width:1rem;
  transform: rotate(90deg);
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.clicked {
  z-index: 2;
  transform: rotate(360deg);
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.hidden {
  opacity: 1;
  background: #f0f0f0;
  position:fixed;
  padding-top: 3rem;
  left:0;
  width: 0;
  height: 100%;
  overflow:hidden;
  z-index: 1;
  transition: width 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.list {
  display:block;
  padding: 1rem;
}

.context {
  margin: 0 10rem;
  font-size: 1.3rem;
}