.open-btn {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 3px;
  margin-left: 5rem;
  padding: 0.3rem;
  transition: 0.3s all;
}
.open-btn:hover {
  cursor: pointer;
  transition: 0.3s all;
  background-color: #000;
  color: #fff;
}

.close-btn {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 0.3rem;
  transition: 0.3s all;
  width:2rem;
  height:1rem;
}
.close-btn:hover {
  cursor: pointer;
  transition: 0.3s all;
  background-color: #000;
  color: #fff;
}

.title {
  font-size: 3rem;
  margin-left: 5rem;
  margin-top: 5rem;
}

.hidden-window {
  border-right: 1px solid #000;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 0rem;
  height: 100vh;
  background-color: #fff;
}
.something {
  border: 1px solid #000;
  width: 3rem;
  height: 2rem;
  margin: 1rem;
}
